@media (width < 900px) {

    .nav__links {
        gap: 1rem;
    }

    .btn {
        right: 0;
    }

    .header__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .header__content {
        text-align: center;
    }

    .header__content form {
        margin: auto;
    }

    .header__image {
        grid-area: 1/1/2/2;
        padding-right: 0.3rem;
    }

    .work__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .deals__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .featured__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured__image {
        min-height: 400px;
    }

    .business__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px) {
    .nav__links {
        display: none;
    }

    .btn {
        right: 0;
    }

    .header__image{
        padding-right: 0.3rem;
    }

    .work__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .deals__header {
        flex-direction: column;
    }

    .deals__header__content :is(.section__header, p) {
        text-align: center;
        max-width: 100%;
    }

    .deals__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .business__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__bar {
        text-align: center;
    }
}